<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{tituloPagina}}}</title>
    <script src="/public/js/script.js"></script>
</head>
<body>
    <div class="divDados">
    <div class="dadosescritos">
        <p>Nome: {{{nomePaciente}}}</p>
        <p>E-mail: {{{emailPaciente}}}</p>
        <p>Data: {{{dataPreCadastro}}}</p>
        <p>Hora: {{{dataPreCadastro}}}</p>
        <p>Peso: {{{pesoPCadastro}}}</p>
        <p>Altura: {{{alturaPCadastro}}}</p>
        <p>Mensagem: {{{mensagemPCadastro}}}</p>
    </div>
    </div>
   
</body>
</html>